/* General Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f0e6 url('vip.png') no-repeat center center;
}

.countdown-container {
    text-align: center;
    color: white;
    font-size: 3rem;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    margin: 50px auto auto auto;
}

/* Style the countdown timer */
.countdown {
    font-size: 5rem;
    font-weight: bold;
}
